.button {
    margin-top: 10px;
    background-color: #f16d7f;
    border-radius: 3px;
    border: 1px solid #ef5b70;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.button:hover {
    border-radius: 3px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    color: #ef5b70;
    transition: 1s ease;
}

.button:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}